h1, h2 {
    color: blue;
}

p, label, li, table {
    color: green;
}

nav ul li:nth-child(2) {
    color: red; 
}

tbody tr:nth-child(2) {
    color: red; 
}

label:nth-of-type(even) {
    color: red; 
}